*{
    
    padding: 0;
    margin: 0;
}
a{
    color: transparent;
    cursor: pointer;
    text-decoration: none;
    
}
a:hover{
    text-decoration:none !important;
}
img{
	object-fit: contain;
}
body{
    font-family: "Quicksand", "Helvetica Neue", sans-serif !important;
}
/************************* Header ******************/
header{
    width: 100%;
}
.top-header-content,.flex-container-main-header,.flex-item-main-header-middle,.flex-item-main-header-right,.top-header-content,.flex-item-main-header-right,.flex-container-find-content,.flex-container-latest,.manage-acc,.flex-container-manage-acc-right,.get-app,.footer-top,.flex-container-footer-top-right,.footer-mid,.flex-container-footer-mid-left, .social,.footer-bottom,.footer-end,.sim,.upgrade{
    display: flex;
    flex-direction: row;
}
.top-header{
    width: 100%;
    background-image: linear-gradient(90deg, #e2e3e4 0%, #ffffff 100%);;
    padding: 10px;
    justify-content: space-between;
}
.top-header-content{
    align-items: center;
    padding: 0px 130px 0px 240px;
    
}
.flex-item-top-header-content{
    padding-left: 20px;
}
.flex-item-top-header-content-individual a,.flex-item-top-header-content-individual a:hover{
    color: #ec155b;
    
}
.flex-item-top-header-content a, .flex-item-top-header-content a:hover{
    color: rgba(0, 0, 0, 0.54);
}
.flex-item-top-header-content a,.flex-item-top-header-content-individual a{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

/*********************** Main header **********/
.main-header{
    width: 100%;
    padding: 0px 16px;
    position: relative;         /*****For dropbox*****/
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(90deg, #221e67 0%, #5e1f70 24.95%, #7a2976 48.4%, #a3387d 82.83%, #b63f81 100%);
}
.flex-container-main-header{
    padding: 18px 0px 18px 100px;
}
.flex-item-main-header-middle{
    max-width: 90%;
    margin-left: 40px;
   
}
.flex-item-main-header-middle a, .flex-item-main-header-middle a:hover, .flex-item-main-header-right a, .flex-item-main-header-middle a:hover{
    font-weight: 500;
    font-size: 15px;
    color: #fff;
}
.flex-item-main-header-content{
    padding: 0px 20px;    
}
.flex-item-main-header-right{
    margin-left: 230px;
}
.flex-item-main-header-right-icon a{
    padding: 0px 20px;
}

/**************** Explore ******************/
.fa-caret-down{
    position: absolute;
    right: 91px;
    top: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.flex-item-main-header-middle{
    position: relative;
}
.flex-item-main-header-content-explore a:hover .dropbox{
    visibility: visible;  
}

.drop-box{
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 715px;
    background-color: crimson;
    box-sizing: border-box;
    max-width: 90%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.drop-menu-column{
    display: none;
    padding: 35px;
    flex-direction: column;
    align-items: center;
}


/************************ Slider *********************/
/* .slider{

    width: 100%;
    height: 433px;
    background: transparent;
    background-repeat: no-repeat;
    animation: home-slider 3s ease-in-out infinite 2s; 
    
} */
.slider{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 433px;
    background: transparent;
    position: relative;
    animation: home-slider 10s ease-in-out infinite 5s;
    
}
.slider-img{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
/* #slide.animate .slider img:nth-child(1){
    animation: home-slider 3s ease-in-out infinite 1s;
}
#slide.animate .slider img:nth-child(2){
    animation: home-slider 3s ease-in-out infinite 2s ;
}
#slide.animate .slider img:nth-child(3){
    animation: home-slider 3s ease-in-out infinite 3s;
}
#slide.animate .slider img:nth-child(4){
    animation: home-slider 3s ease-in-out infinite 4s;
}
#slide.animate .slider img:nth-child(5){
    animation: home-slider 3s ease-in-out infinite 5s;
} */
/* @keyframes home-slider {
    0% { background-image: url("img/web0mfr0.jpg"); }
    25% { background-image: url("img/1366x430 triple pwa51h71.jpg");}
    50% { background-image: url("img/cfwjx4.jpg");}
    75% { background-image: url("img/scvj6hh.jpg");}
    100% { background-image: url("img/web0mfr0.jpg");}
} */
@keyframes home-slider {
    0% { transform: translateX(0px);}
    25% { transform: translateX(-1366px);}
    45% { transform: translateX(-2732px);}
    60% { transform: translateX(-4098px);}
    80% { transform: translateX(-5464px);}
    100% { transform: translateX(-5464px);}
}
/****************** Recharge ************************/
.recharge{
    background-image: linear-gradient(90deg, rgb(34, 30, 103) 0%, rgb(94, 31, 112) 24.95%, rgb(122, 41, 118) 48.4%, rgb(163, 56, 125) 82.83%, rgb(182, 63, 129) 100%);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 2px rgb(0 0 0 / 4%);
    width: 100%;
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-item-recharge-left{
    max-width: 28%;
}
.flex-item-recharge-left h3{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
    margin-bottom: 10px;
    color: #f14f24;
    word-wrap: break-word;
    margin: 10px 5px 10px 116px;
    padding-right: 10px;
}
.flex-item-recharge-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 10px 10px;
}
.recharge-phone, .recharge-amount{
    position: relative;
}
.phone-prepend,.amount-prepend{
    line-height: 53px;
    color: #212529;
    text-align: left;
    margin-right: -1px;
    background-color: white;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    
    border: 1px solid #ced4da;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: absolute;
}
.phone-prepend-span,.amount-prepend-span{
    align-items: center;
    padding: 6px 9px;
}
.recharge-phone, .recharge-amount{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: row;
}
.recharge-phone, .recharge-amount, .recharge-submit{
    margin: 10px 10px;
    padding: 0px 10px;
}
input.form-control{
    width: 256px;
    height: 55px;
    border-radius: 100px;
    padding-left: 80px;
}
.btn-recharge{
    padding: 16px 60px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 100px;
    background-image: linear-gradient(90deg, rgb(240, 78, 35) 0%, rgb(240, 78, 35) 10%, rgb(242, 99, 34) 30.55%, rgb(246, 135, 31) 76.87%, rgb(247, 148, 29) 99.95%, rgb(247, 148, 29) 100%);
}
.btn-recharge:hover{
    transform: translateY(-2px);
    transition: all .2s ease-in-out;
}
/******************* Find **************/
.find-and-latest{
    background-image: linear-gradient(0deg, rgb(226, 227, 228) 0%, rgb(255, 255, 255) 93.68%);
    background-position-x: initial;
    background-position-y: initial;
    background-color: initial;
    padding: 50px 200px;
    width: 100%;
}
.find{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.flex-item-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    line-height: 37px;
    color: #1f1b5c;
    padding-bottom: 50px;
    word-wrap: break-word;
}
.flex-container-find-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}
.latest-mobile{
    display: none;
}
.flex-item-find-card{
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 140px;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}
.flex-item-find-card a:hover{
    transform: translateY(2px);
    transition: all .4s ease-in-out 1s;
}

.flex-item-img{
    vertical-align: middle;
    padding-left: 20px;
    align-items: center;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-name{
    font-family: "Quicksand";
    color: #63727a;
    font-size: 18px;
    word-wrap: break-word;
    text-align: center;
    margin: 5px 10px;
}

/************************* Latest **************/
.latest{
    padding: 60px 0px;
}
.latest-text{
    color: #212529;
    margin-bottom: 2.5rem;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
}
.flex-container-latest{
    justify-content: space-between;
    margin-top: 40px;
}

.latest-left-wrap, .latest-mid-wrap, .latest-right-wrap{
    position: relative;
    align-items: center;
}

.flex-latest-left,.flex-latest-right,.flex-latest-mid{
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 30px;
}
.flex-latest-left,.flex-latest-right{
    background-color: #692c91;
    border: 2px solid #4d4d79;
}
.flex-latest-mid{
    background-color: #ee3e80;
    border: 2px solid #ee3e80;
}
.flex-item-latest-top h3, .flex-item-latest-top p{
    font-weight: bold;
    color: white;
}
.flex-item-latest-top h3{
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 12px;
}
.flex-item-latest-top p{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 0px;
    min-height: 50px;
}
.flex-item-latest-middle{
    position: relative;
    margin-top: 50px;
    margin-bottom: 25px;
}
.flex-item-latest-middle img{
    vertical-align: middle;
    padding-left: 38px;
}

.mid-lower{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 0px;
}
.smaller-text{
    font-size: 16px;
    position: absolute;
    top: 73px;
    left: 110px;
}
.bigger-text{
    font-size: 30px;
    position: absolute;
    top: 79px;
    left: 129px;
    
}
.text-inside-img p{
    font-weight: bold;
    color: linear-gradient(90deg, rgb(34, 30, 103) 0%, rgb(94, 31, 112) 24.95%, rgb(122, 41, 118) 48.4%, rgb(163, 56, 125) 82.83%, rgb(182, 63, 129) 100%);;
}
.flex-item-latest-bottom p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 30px;
    color: linear-gradient(90deg, #e2e3e4 0%, #ffffff 100%);
}
.btn-lower-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-primary, .btn-secondary{
    padding: 8px 16px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 30px;
}
.btn-primary{
    background-color: white;
    color: #692c91;
}
.btn-secondary{
    background: transparent;
    color: white;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 14px rgb(0 0 0 / 14%);
    
}
.latest-tag-part{
    position: absolute;
    top: 0px;
    left: 203px;
}
.flex-container-latest-bottom{
    padding: 50px 230px;
}
.flex-container-latest-bottom a{
    color: white;
}
.latest-bottom-content{
    padding: 16px 60px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 100px;
    background-image: linear-gradient(90deg, #221e67 0%, #5e1f70 24.95%, #7a2976 48.4%, #a3387d 82.83%, #b63f81 100%);
}
/************************** 4G SIM ************/
.sim{
    justify-content: space-between;
    padding: 50px;
    width: 100%;
    background-image: linear-gradient(0deg, rgb(226, 227, 228) 0%, rgb(255, 255, 255) 93.68%);
}
.flex-container-sim-left{
    margin: 30px;
    padding: 10px;
}
.sim-content3{
    padding: 16px 30px;
    max-width: 150px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 100px;
    background-image: linear-gradient(90deg, rgb(240, 78, 35) 0%, rgb(240, 78, 35) 10%, rgb(242, 99, 34) 30.55%, rgb(246, 135, 31) 76.87%, rgb(247, 148, 29) 99.95%, rgb(247, 148, 29) 100%);

}
.sim-content3 a{
    color: white;
}
.flex-item-sim-content1 h3{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #692c91;
}
.flex-item-sim-content2 p{
    font-weight: 500;
    font-size: 24px;
    line-height: 43px;
    color: rgba(0, 0, 0, 0.87);
}
/************************* Upgrade ****************/
.upgrade{
    width: 100%;
    position: relative;
}
.flex-container-upgrade img{
    width: 100%;
}
.flex-upgrade-content{
    position: absolute;
    top: 181px;
    left: 853px;
}
.flex-upgrade-content a{
    padding: 16px 60px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 100px;
    background-image: linear-gradient(90deg, rgb(240, 78, 35) 0%, rgb(240, 78, 35) 10%, rgb(242, 99, 34) 30.55%, rgb(246, 135, 31) 76.87%, rgb(247, 148, 29) 99.95%, rgb(247, 148, 29) 100%);

}
.flex-upgrade-content h3{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: white;
}
.flex-upgrade-content p{
    font-weight: 500;
    font-size: 24px;
    line-height: 43px;
    color: white;
}

/********************** Manage Account *******************/
.manage-acc{
    width: 100%;
}
.manage-acc,.flex-container-manage-acc-right{
    justify-content: space-between;
}
.flex-container-manage-acc-right{
    padding-top: 300px;
}
.flex-container-manage-acc-left{
    position: relative;
}
.flex-item-manage-acc-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 213px;
    left: 89px;
}
.flex-item-manage-acc-login{
    position: absolute;
    top: 308px;
    left: 174px;
}
.flex-item-manage-acc-content{
    font-size: 36px;
    line-height: 45px;
    color: white;
    font-weight: 300px;
}
.acc-login{
    padding: 16px 60px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 100px;
    background-image: linear-gradient(90deg, rgb(240, 78, 35) 0%, rgb(240, 78, 35) 10%, rgb(242, 99, 34) 30.55%, rgb(246, 135, 31) 76.87%, rgb(247, 148, 29) 99.95%, rgb(247, 148, 29) 100%);

}

/**************** Ncell App Download *************/

.get-app{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;

    min-height: 440px;
    background-image: linear-gradient(90deg, rgb(34, 30, 103) 0%, rgb(94, 31, 112) 24.95%, rgb(122, 41, 118) 48.4%, rgb(163, 56, 125) 82.83%, rgb(182, 63, 129) 100%);
}
.flex-container-get-app-left{
    max-width: 50%;
    padding: 40px 50px;
    margin-right: 10px;
}
.get-app-left-content1{
    font-size: 30px;
    line-height: 38px;
}
.get-app-left-content1, .get-app-left-content2, .get-app-left-content3 h4, .android-button a, .ios-button a{
    color: white;
}
.get-app-left-content2{
    font-size: 18px;
    line-height: 30px;
}
.get-app-left-content3 h4{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.flex-container-get-app-right{
    padding-left: 10px;
    position: absolute;
    top: -94px;
    left: 584px;
}
.android-button, .ios-button{
    padding: 16px 40px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-color: white;
    border-radius: 100px;
    background-color: transparent;
}
/********************** Footer ***************/
.footer{
    width: 100%;
    background-color: #f9f9fa;
    background-image: linear-gradient(0deg, #e2e3e4 0%, #ffffff 100%);
}
.footer-top,.footer-mid,.footer-bottom{
    padding: 10px 116px;
}
.footer-top, .flex-container-footer-top-right, .footer-mid, .flex-container-footer-mid-left, .social, .footer-bottom{
    justify-content: space-between;
}

.flex-container-footer-top-left, .flex-item-footer-right{
    display: flex;
    flex-direction: column;
}
.top-right-footer-content{
    padding: 8px 35px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.87);
}
.flex-container-footer-mid-left p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;

}
.fbicon,.twittericon, .linkedinicon, .instaicon, .youtubeicon{
    justify-content: space-between;
    flex-grow: 2;
}
.flex-item-appstore, .flex-item-playstore{
    margin-left: 16px;
}
.footer-top-right-content-head{
    font-size: 20px;
    padding:10px 10px 10px 36px ;
}
.copyright{
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.87);
}
.flex-item-footer-end{
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.87);
    padding: 8px;
}

/******************************** Responsive Layout **************************/
@media screen and (max-width:1166px) {
    /**********************Top Header ***************************/
    header{
        width: 100%;
    }
    .top-header-content{
        align-items: center;
        padding: 0px 80px 0px 150px;
    }
    .flex-item-top-header-content{
        padding-left: 20px;
    }

    /**********************Main Header ***************************/
    .main-header{
        width: 100%;
        padding: 0px;
    }
    img{
        max-width: 100%;
        max-height: 100%;
        height: auto !important;
    }
    .flex-container-main-header {
        padding: 5px 0px 0px 50px;
    }
    .flex-item-main-header-content{
        padding: 2px 14px;    
    }
    .flex-item-main-header-right{
        margin: 10px 11px;
        padding-left: 88px;
    }
    .flex-item-main-header-middle h5{
        font-size: 12px;
    }
    .fa-caret-down{
        right: 72px;
        top: 10px;
        font-size: 10px;
    }
    .flex-item-main-header-middle{
    margin-right: -33px;
    }

    /********************* Slider *****************/
    .slider, .slider-img{
        flex-wrap: nowrap;
    }

    /****************** Recharge ************************/
    
    form, .flex-item-recharge-right, .flex-container-find-content{
        flex-wrap: wrap;
    }
    .flex-item-recharge-left, .btn-recharge {
        max-width: 100%;
    }


    .latest{
        display: none;
    }

    .latest-mobile{
        display: block;
        max-height: 100%;
        max-width: 100%;
        position: relative;
    }
    .latest-mobile-text{
        color: #212529;
        margin-bottom: 2.5rem;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
    }

    .flex-container-latest-mobile{
        margin-top: 40px;
    }
    .flex-item-latest-mobile-top h3, .flex-item-latest-mobile-top p{
        font-weight: bold;
        color: white;
    }
    .flex-item-latest-mobile-top h3{
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        margin-bottom: 12px;
    }
    .flex-item-latest-mobile-top p{
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        margin-bottom: 0px;
        min-height: 50px;
    }

    /* .flex-item-latest-mobile-middle{
        
        margin-top: 50px;
        margin-bottom: 25px;

    } */

    .flex-item-latest-mobile-middle img{
        vertical-align: middle;
        padding-left: 63px;
    }

    .smaller-text-mobile{
        font-size: 16px;
        position: absolute;
        top: 288px;
        left: 162px;
    }
    .bigger-text-mobile{
        font-size: 30px;
        position: absolute;
        top: 293px;
        left: 185px;
        
    }
    .text-inside-img-mobile p{
        font-weight: bold;
        color: linear-gradient(90deg, rgb(34, 30, 103) 0%, rgb(94, 31, 112) 24.95%, rgb(122, 41, 118) 48.4%, rgb(163, 56, 125) 82.83%, rgb(182, 63, 129) 100%);;
    }

    .mid-lower-mobile{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #ffffff;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .flex-item-latest-mobile-bottom p{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin: 30px;
        color: white;
    }

    .btn-lower-part-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }




    .btn-primary-mobile, .btn-secondary-mobile{
        padding: 8px 16px;
        outline: none;
        border: none;
        cursor: pointer;
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        border-radius: 30px;
    }
    .btn-primary-mobile{
        background-color: white;
        color: #692c91;
    }
    .btn-secondary-mobile{
        background: transparent;
        color: white;
        border: 1px solid #ffffff;
        box-shadow: 0px 0px 14px rgb(0 0 0 / 14%);
        
    }
    .latest-mobile-tag-part{
        position: absolute;
        top: 77px;
        left: 255px;
    }


    .flex-container-latest-mobile-bottom{
        padding: 50px 30px;
    }
    .flex-container-latest-mobile-bottom a{
        color: white;
    }
    .latest-mobile-bottom-content{
        padding: 16px 90px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border-radius: 100px;
        background-image: linear-gradient(90deg, #221e67 0%, #5e1f70 24.95%, #7a2976 48.4%, #a3387d 82.83%, #b63f81 100%);
    }

    .flex-latest-mobile-wrap{
        padding: 10px 10px;
        box-sizing: border-box;
        border-radius: 30px;
        margin: 15px;
        background-color: #692c91;
        border: 2px solid #4d4d79;
    }
    .flex-container-latest-mobile{
        width: 100%;
        
    }

    /********************** 4G *****************/
    .flex-item-sim-content1 h3, .flex-item-sim-content2 p{
        font-size: medium;
    }
    
    .flex-container-footer-top-right, .manage-acc, .flex-container-manage-acc-right{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:360px) {
    .stores, .footer-mid, .footer-bottom, .upgrade, .get-app{
        flex-wrap: wrap;
    }
    
}

